html, body{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
 }
 
 nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: red;
 }

 .logo{
    display: flex;
    justify-content: start;
 }
 
 .logo img{
    width: 100px;
    border-radius: 100px;
 }
 
 .logo h4{
    display: flex;
    margin: 0;
    align-items: center;
    font-size: large;
 }
 
 ul{
    display: flex;
    gap: 30px;
    flex-direction: row;
    list-style: none;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    font-weight: 600;
    transition: all .3s ease-in-out;
 }
 
 ul a{
    text-decoration: none;
    color: black;
 }

 ul a:hover{
   color: white;
   transition: all .3s ease-in-out;
 }
 .avatar{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 100%;
    border: black solid 3px;
 }
 .compte{
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .bck img{
   width: 100%;
   height: auto;
   object-fit: fill;
}

#description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

#description img {
    height: 250px;
    width: auto;
}

#descriptions {
    margin-left: 60px;
}

#description .button.primary{
    background: yellow;
    color: black;
    border: 2px solid black;
}

#description .button.primary:hover{
    background: black;
    color: yellow;
    border: 2px solid black;
}

#articles{
   background-color: gray;
}

#article1{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 16px;
   margin: 16px;
}

#article1 img{
   width: 400px;
   height: 300px;
   object-fit: cover;
}

.article1{
   display: flex;
   flex-direction: column;
}

.article1 .button.primary{
   background: purple;
   color: orangered;
   border: 2px solid orangered;
   border-radius: 8px;
   padding: 8px 12px;
   width: 90px;
   text-align: center;
}

.article1 .button.primary:hover{
   background: orangered;
   color: purple;
   border: 2px solid purple;
}

.article1 .button.secondary{
   background: darkblue;
   color: black;
   border: 2px solid black;
   width: 90px;
}

.article1 .button.secondary:hover{
   background: black;
   color: darkblue;
   border: 2px solid darkblue;
}

.article1 .button.thiercary{
   background: darkblue;
   color: red;
   border: 2px solid red;
   width: 90px;
}

.article1 .button.thiercary:hover{
   background: red;
   color: darkblue;
   border: 2px solid darkblue;
}

 .button{
    border-radius: 8px;
    text-decoration: none;
    padding: 8px 12px;
    transition: all .4s ease-in-out;
}
    
.button.primary{
       background: black;
       color: white;
       border: 2px solid black;
}
    
.button.secondary{
       background: white;
       color: black;
       border: 2px solid black;
}
    
.button.primary:hover{
       background: white;
       color: black;
       border: 2px solid black;
}
    
.button.secondary:hover{
       background: darkblue;
       color: white;
       border: 2px solid black;
}    

h1{
   text-align: center;
   text-transform: uppercase;
}

#créateurss {
   font-size: 50px;
   text-align: center;
   margin-top: 100px;
   margin-bottom: 50px;
   transition: 0.3s;
}

#créateurs{
   display: flex;
   flex-direction: row;

}

#créateur {
    display: flex;
    justify-content: center;
    text-align: center;
}
.créateur_container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      border: 0;
      border-radius: 10%;
      max-width: 900px;
}
.nom_créateur {
       margin: auto;
       font-size: 20px;
       width: 80%;
       transition: 0.3s;
}
.créateur_p {
       font-size: 13px;
       color: black;
}

.créateur_container img{
   width: 250px;
   height: 250px;
   object-fit: cover;
}